body {
    background-color: #FFFCFF;
    font-family: 'Roboto Mono', monospace;
}

html {
    height: 100%;
}

#container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#content {
    /* Nudge content up a bit */
    margin-top: -32px;
    width: 320px;
    color: #4D5061;
}

#content *::selection {
    background: #C2DFE3;
}

#content a, #content a:visited {
    color: #4D5061;
    text-decoration: none;
    /* Transition *from* on-hover */
    transition: 0.08s;
}

#content a:hover {
    color: #FF6B6B;
    transition: 0.1s;
}

#text {
    font-size: 1.05em;
}

#text p:last-child {
    margin-bottom: 0;
}

#social-icons-container {
    display: flex;
    align-items: center;
}

#social-icons-container a {
    margin: 0 7px;
    font-size: 2em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#social-icons-container p {
    margin-right: 5px;
}


