body {
    background-color: #FFFCFF;
    font-family: 'Roboto Mono', monospace;
}

html {
    height: 100%;
}

#container {
    height: inherit;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 320px;
    /* Nudge content up a bit */
    margin-top: -32px;
    color: #4D5061;
}

#content *::selection {
    background: #C2DFE3;
}

#content a, #content a:visited {
    color: #4D5061;
    text-decoration: none;
    /* Transition *from* hover */
    transition: 0.08s;
}

#content a:hover {
    color: #FF6B6B;
    transition: 0.1s;
}

#text {
    font-size: 1.05em;
}

#text p:last-child {
    margin-bottom: 0;
}

.popup-container {
    display: inline-flex;
    position: relative;
    justify-content: center;
}

.popup {
    padding: 5px 15px;
    bottom: 125%;

    position: absolute;
    visibility: hidden;

    border-radius: 3px;
    font-size: 0.8em;
    background-color: #353535;
    color: #FFFCFF;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup.show {
    visibility: visible;
    animation: popup-enter 0.12s ease-out;
}

@keyframes popup-enter {
    from {
        transform: translate(0, 6px);
        opacity: 0.3;
    }
}

.popup.dismiss {
    opacity: 0;
    visibility: hidden;
    animation: popup-leave 0.1s;
}

/* Animations from visibile to hidden occur on the last keyframe,
 * so the element will stay visible for the duration of the anim */
@keyframes popup-leave {
    from {
        opacity: 1;
        visibility: visible;
    }
}

#social-icons-container {
    display: flex;
    align-items: center;
}

#social-icons-container a {
    margin: 0 7px;
    font-size: 1.9em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#social-icons-container p {
    margin-right: 5px;
}
